<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet is optional, but harmless to keep -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>

    <!-- Android 12 and below -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>

    <uses-feature
        android:name="android.software.leanback"
        android:required="true"/>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.TvVideoScreensaver">

        <!-- Dashboard -->
        <activity
            android:name=".ui.DashboardActivity"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>

            </intent-filter>

        </activity>

        <!-- Video Preview -->
        <activity
            android:name=".MainActivity"
            android:exported="false"/>

        <!-- Settings -->
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false"/>

        <!-- Screensaver -->
        <service
            android:name=".dream.VideoDreamService"
            android:permission="android.permission.BIND_DREAM_SERVICE"
            android:exported="true">

            <intent-filter>

                <action android:name="android.service.dreams.DreamService"/>

            </intent-filter>

            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/dream"/>

        </service>

    </application>

</manifest>